<% provide(:title, 'Home') %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <div id="home-content">
        <p>Text content here: adsfasfasfdasfsafsadfasdfsafdasfdasfdsadfsafasfasdfasfasdfasfasdfasfasfasdfasdfsadfsafd</p>
        <p>Text content here</p>
        <p>Text content here</p>
        <p>a</p>
        <p>b</p>
        <p>c</p>
        <p>d</p>
        <p>e</p>
        <p>f</p>
        <p>g</p>
        <p>h</p>
        <p>i</p>
        <p>j</p>
        <p>k</p>
        <p>l<br/>m<br/>n<br/>o<br/></p> 
        <p>asfdsafd</p>
        <p>assadfsadf</p>
        <p>assadfsadf</p>
        <p>assadfsadf</p>
        <p>assadfsadf</p>
        <p>assadfsadf</p>
      </div>
    </div>

    <div class="span5">
      <div id="infopanel"> 
        <h1>blog@Bayofpigs</h1>
        <div class="row-fluid"> 
          <%= gravatar_for("mzhang6@gmail.com") %> 

          <div id="gravatar-text">
            <p> Text here lololololol</p>
          </div>
        </div> <!-- row-fluid -->
      </div> <!-- hero-unit -->
    </div> <!-- span5 -->
  </div> <!-- row-fluid-->
</div> <!-- container-fluid-->
