<% provide(:title, 'Home') %>

<div class="container">
<div class="home-content span7">
  <p>Text content here: adsfasfasfdasfsafsadfasdfsafdasfdasfdsadfsafasfasdfasfasdfasfasdfasfasfasdfasdfsadfsafd</p>
  <p>Text content here</p>
  <p>Text content here</p>
  <p>a</p>
  <p>b</p>
  <p>c</p>
  <p>d</p>
  <p>e</p>
  <p>f</p>
  <p>g</p>
  <p>h</p>
  <p>i</p>
  <p>j</p>
  <p>k</p>
  <p>l<br/>m<br/>n<br/>o<br/></p> 
  <p>asfdsafd</p>
  <p>assadfsadf</p>
 <p>assadfsadf</p>
 <p>assadfsadf</p>
 <p>assadfsadf</p>
 <p>assadfsadf</p>
 <p>assadfsadf</p>
</div>


<div class="info-panel span3 offset1"> 
  <h1>Stack of Pigs!</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p> 
</div>
</div>
